.header {
    background-color: rgb(249, 219, 121);
    width: 100%;
    height: 80px;
}
.flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.maxWidth {
    max-width: 1024px;
    margin: auto;
}

.logo {
    width: 70px;
}

.nav .link{
    margin: 15px;
    color: black;
    font-weight: bold;
    font-size: 1.1rem;
}

@media (max-width: 1024px) {
    .header {
        height: 120px;
    }
    
}